// size media queries
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$blue-macro: #0047ba;
$yellow-macro: #ffdd01;
$light-blue: #edf2f7;
$dark-red: #ffe2e2;
$red: #ef5858;
$white: #ffffff;
$switch-off: #d9d9d9;
$switch-on: #23ad5c;

// separation
$separation: 3rem;

// fonts thickness
$light: 300;
$regular : 400;
$bold: 700;
$black: 900;